ul.pagination {
  text-align: right;

  li {
    display: inline-block;
    margin: 0 3px;
    padding: 6px 9px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    cursor: pointer;


    &:hover {
      //background: $pager-hover-bg;
    }
    &.active {
      background: rgb(120,128,150);
      a {
        display: inline-block;
        color: rgb(255, 255, 255);
      }
    }
    &.previous, &.next {
      //background: $background-color;
    }
    &.start, &.last {
      border: none;
      background: none;
    }
    a {
      //color: $main-font-color;
    }
    &.disabled {
      //color: $pager-disabled-color;
      //background-color: $pager-disabled-bg;
      cursor: not-allowed;
      a {
        cursor: not-allowed;
      }
    }
  }
}