$nav-white: rgb(231, 231, 231);
$nav-blue: rgb(31, 127, 192);

div.t-component-left-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: rgb(32, 39, 49);
  z-index: 2;

  div.t-component-left-nav-bar-logo {
    height: 60px;
    display: flex;

    span.icon {
      display: inline-block;
      height: 60px;
      line-height: 60px;
      text-align: center;

      &:nth-child(1) {
        width: 190px;
        color: $nav-white;
        font-size: 33px;
      }

      &:nth-child(2) {
        width: 50px;
        color: rgb(95, 108, 128);
        font-size: 24px;
      }
    }
  }

  ul.t-component-left-nav-bar-nav {
    height: calc(100vh - 60px);
    width: 100%;
    overflow-y: auto;

    li.first-nav {
      @include user-select(none);

      &:not(.open):last-child {

        label {
          border-bottom: 1px solid rgb(44, 55, 71);
        }
      }

      &.open {

        label span.icon.icon-arrow-right {
          @include transform(rotate(90deg));
        }
      }

      & > label {
        display: inline-block;
        height: 42px;
        line-height: 40px;
        width: 100%;
        font-size: 20px;
        border-top: 1px solid rgb(44, 55, 71);
        cursor: pointer;
        color: $nav-white;
        background-color: rgb(39, 49, 65);
        border-left: 2px solid rgb(39, 49, 65);

        & > span.icon {
          display: inline-block;
          height: 40px;
          line-height: 40px;
          width: 40px;
          text-align: center;
          @include transition(transform 0.3s);
          @include transform(translateZ(0));
        }

        &.active, &:hover {
          background-color: rgb(49, 61, 78);
          border-left: 2px solid $nav-blue;
        }
      }

      ul.second-ul {
        border-top: 1px solid rgb(44, 55, 71);
        display: none;
        background-color: rgb(32, 39, 49);

        & > li.second-nav {
          @include user-select(none);

          & > a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            width: 100%;
            font-size: 16px;
            padding-left: 20px;
            cursor: pointer;
            color: $nav-white;
            text-decoration: none;

            & > span.icon {
              display: inline-block;
              height: 40px;
              line-height: 40px;
              width: 30px;
              text-align: center;
            }

            &.active, &:hover {
              background-color: $nav-blue;
            }
          }

          ul.third-ul {
            display: none;
            position: absolute;
            top: 0px;
            left: 100%;
            width: 200px;
            background-color: rgb(32, 39, 49);
            box-shadow: 0px 0px 2px 2px rgb(32, 39, 49);

            & > li.third-nav {
              @include user-select(none);

              & > a {
                display: inline-block;
                height: 40px;
                line-height: 40px;
                width: 100%;
                font-size: 16px;
                padding-left: 20px;
                cursor: pointer;
                color: $nav-white;
                text-decoration: none;

                & > span.icon {
                  display: inline-block;
                  height: 40px;
                  line-height: 40px;
                  width: 30px;
                  text-align: center;
                }

                &.active, &:hover {
                  background-color: $nav-blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
