div.t-component-left-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100vh;
  background-color: rgb(32, 39, 49);
  z-index: 2;

  div.logo {
    height: 60px;

    span.icon {
      display: table-cell;
      height: 60px;
      line-height: 60px;
      text-align: center;

      &:nth-child(1) {
        width: 180px;
        color: rgb(255, 255, 255);
        font-size: 25px;
      }

      &:nth-child(2) {
        width: 60px;
        color: rgb(95, 108, 128);
        font-size: 30px;
      }
    }
  }



}
