<template>
  <div class="t-component-left-nav-bar">
    <div class="t-component-left-nav-bar-logo">
      <span class="icon icon-transwarp-studio-logo"></span>
      <span class="icon icon-menu"></span>
    </div>

    <ul class="t-component-left-nav-bar-nav">
      <li class="first-nav ${(navigation.firstNavOpen)?'open':''}" repeat.for="navigation of navigations">
        <label click.trigger="navigation.firstNavCallback(navigation, $event)">
          <span class="icon ${navigation.firstNavIcon}"></span>
          ${navigation.firstNavName}
        </label>
        <ul class="second-ul">
          <li class="second-nav" repeat.for="secondNav of navigation.secondNavs">
            <a mouseover.trigger="secondNav.secondNavCallback(secondNav, $event, true)"
               mouseleave.trigger="secondNav.secondNavCallback(secondNav, $event, false)">
              <span class="icon ${secondNav.secondNavIcon}"></span>
              ${secondNav.secondNavName}
            </a>
            <ul class="third-ul" mouseover.trigger="setNavBlock(secondNav, $event, true)"
                mouseleave.trigger="setNavBlock(secondNav, $event, false)">
              <li class="third-nav" repeat.for="thirdNav of secondNav.thirdNavs">
                <a>
                  <span class="icon ${thirdNav.thirdNavIcon}"></span>
                  ${thirdNav.thirdNavName}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</template>
