<template>
  <div class="t-component-top-search-bar">
    <div class="search-container">
      <div class="search-left">
        <span class="icon-search"></span>
        <input type="text" class="search-input" placeholder="搜索服务器与实例..."/>
      </div>

      <div class="search-right">
        <span class="icon-settings"></span>
        <span class="icon-info"></span>
        <span class="search-alert">23</span>
        <label class="user-info ${showUserInfo?'active':''}" click.trigger="toggleMenu()"
               blur.trigger="closeMenu()" tabindex="0">
          ${username}<span class="icon-arrow"></span>
          <ul if.bind="showUserInfo">
            <li click.trigger="personalConfigure()">个人设置</li>
            <li click.trigger="logout()">退出</li>
          </ul>
        </label>
      </div>
    </div>
  </div>
</template>
