div.t-page-ticket {
  color: rgb(101, 101, 101);

  div.ticket-header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    padding: 10px 20px;

    div.header-left {
      padding-left: 20px;
      @include user-select(none);

      div.header {
        font-size: 18px;
        height: 25px;
        line-height: 20px;
        font-weight: bolder;
        cursor: default;
      }

      div.sub-header {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        cursor: default;
      }
    }

    div.header-right {
      margin-right: 20px;
      position: relative;
      width: 100px;

      button.add-ticket {
        position: absolute;
        @include center(xy);
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0;
        background-color: transparent;
        color: rgb(54, 145, 187);
        border: 1px solid rgb(54, 145, 187);
        border-radius: 4px;
        outline: 0;
        font-size: 14px;
        font-weight: bold;

        & > span.icon-add {
          position: relative;
          left: -2px;
          font-size: 12px;
        }

        &:hover {
          color: rgb(255, 255, 255);
          background-color: rgb(54, 145, 187);
        }
      }
    }

  }

  div.ticket-body {
    background-color: rgb(240, 244, 247);
    min-height: calc(100vh - 114px);
    padding: 10px 20px;

    div.ticket-container {
      background-color: rgb(255, 255, 255);
      border: 1px solid rgb(221, 221, 221);

      div.ticket-search-bar {
        height: 50px;
        border-bottom: 1px solid rgb(221, 221, 221);
        display: flex;
        justify-content: space-between;

        div.single-item-filter {
          width: 250px;
          position: relative;

          &.single-item-filter-sm {
            width: 120px;
          }

          label {
            line-height: 50px;
            margin: 0px 8px 0px 20px;
            font-weight: bolder;
            font-size: 14px;
          }

          input {
            display: inline-block;
            width: 150px;
            height: 30px;
            position: absolute;
            @include center(y);
            font-size: 14px;
          }

          button {
            position: absolute;
            @include center(xy);
            width: 80px;
            height: 30px;
            line-height: 30px;
            padding: 0;
            background-color: rgb(28, 120, 185);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(0, 94, 146);
            border-radius: 4px;
            outline: 0;
            font-size: 14px;

            & > span.icon-filter {
              position: relative;
              top: 1px;
              left: -2px;
            }
          }
        }

        div.double-item-filter {
          width: 350px;

          div.filter-item {
            width: 146px;
            position: relative;
            display: inline-block;

            label {
              line-height: 50px;
              margin: 0px 8px 0 0;
              font-weight: bolder;
              font-size: 14px;
            }

            input {
              display: inline-block;
              width: 120px;
              height: 30px;
              position: absolute;
              @include center(y);
              font-size: 14px;
            }
          }
        }
      }







    }

  }
}